.breeds-list {
  list-style: none;
  padding-left: 1.25rem;
}

.list-item__key,
.list-item__value {
  margin-bottom: 1rem;
}

.list-item__value {
  padding-left: 1.25rem;

  &::after {
    content: ' ';
  }
}
