<div class="app-container">
  <mat-toolbar color="primary">
    <span>Dogs and Cats app</span>
    <span class="example-spacer"></span>
    <button (click)="sidenav.toggle()" mat-icon-button class="example-icon"
            aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>

  <mat-sidenav-container class="app-sidenav-container">
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a mat-list-item
           routerLinkActive="active-link"
           routerLink="/"
           (click)="sidenav.close()">
          Home
        </a>
        <a mat-list-item
           routerLinkActive="active-link"
           routerLink="/breeds-list"
           (click)="sidenav.close()">
          Breeds List
        </a>
      </mat-nav-list>

    </mat-sidenav>
    <mat-sidenav-content>
      <main class="main">
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <footer class="footer"></footer>
</div>


