<div class="app-container">
  <header class="header">
    <mat-toolbar color="primary">
      <span>Dogs and Cats app</span>
      <span class="example-spacer"></span>
      <button (click)="sidenav.toggle()" mat-icon-button class="example-icon"
              aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
  </header>

  <mat-sidenav-container class="app-sidenav-container">
    <mat-sidenav #sidenav>
      <app-navigation-menu></app-navigation-menu>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <footer class="footer"></footer>
</div>


