<!--https://material.angular.io/components/card/examples-->
<div class="container">
  <h2 class="title">
    Recent messages:
  </h2>
  <ul class="messages">
    <!--      todo:-->
    <!--      сделать переход от карточки до страницы пользователя со скроллом на запись-->
    <!--      (страница со списком всех записей)-->
    <li class="list-item" *ngFor="let message of recentMessages$ | async">
      <mat-card>
        <ng-container *ngIf="message.avatar; else placeholderAvatar">
          <div class="avatar">
            <img src="{{message.avatar}}" alt="{{message.username}}'s avatar">
          </div>
        </ng-container>
        <ng-template #placeholderAvatar>
          <div class="placeholder-avatar">
            {{message.username | initials | uppercase}}
          </div>
        </ng-template>
        <div class="user-info">
          <div class="username">{{message.username}}</div>
          <div class="message">{{message.message}}</div>
        </div>
      </mat-card>
    </li>
  </ul>
</div>
